/**
 * JUMBOTRON
 */

.jumbotron {
  font-family: Ubuntu, sans;
  background-image: url('../img/background.png');
  background-size: cover;
  margin-bottom: 0;
}

.jumbotron .container {
  color: white;
  text-align: center;
}

.jumbotron .logo {
  border: 0.1em solid white;
  display: inline-block;
  font-family: Ubuntu;
  padding: 0.5em;
  text-transform: uppercase;
}

/**
 * Footer
 */

footer {
  background-color: white;
}
footer p {
  font-family: Ubuntu;
  padding: 1em 2em;
  text-align: center;
  text-transform: uppercase;
}

footer p a {
  color: inherit;
  text-decoration: none;
}

/**
 * QUIZ INTRO
 */
.quiz-intro {
  padding-top: 1em;
  padding-bottom: 1em;
}

.quiz-intro img {
  cursor: pointer;
}

/**
 * QUIZ UI
 */
.quiz-ui .quiz-question {
  margin: 1em 0 0;
}
.quiz-ui .controle {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.quiz-ui .controle .btn {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 64px;
  width: 64px;
}

.quiz-ui .controle .btn-concordo {
  background-image: url('../img/concordo.svg');
}
.quiz-ui .controle .btn-abstencao {
  background-image: url('../img/abstencao.svg');
}
.quiz-ui .controle .btn-discordo {
  background-image: url('../img/discordo.png');
}

.quiz-ui .quiz-question-link {
  text-align: right;
}

/**
 * RESULTS
 */

.quiz-result h2 {
  color: #bec7ef;
  margin: 0.33em 0 0.66em;
  text-transform: uppercase;
}

.quiz-result-parlamentar {
  font-size: 1.2em;
}
.quiz-result-parlamentar .partido {
  font-weight: bold;
  padding: 0.33em 0;
  text-align: center;
  width: 4em;
}

.quiz-result-parlamentar .nome {
  text-indent: 0.66em;
}
.quiz-result-parlamentar .score {
  text-align: right;
}

.quiz-result-parlamentar:nth-child(2n+1) .partido {
  background-color: #bec7ef;
}
.quiz-result-parlamentar:nth-child(2n) .partido,
.quiz-result-parlamentar:nth-child(2n+1) .nome,
.quiz-result-parlamentar:nth-child(2n+1) .score {
  background-color: #ffeb9d;
}
.quiz-top-result {
  background-color: #bec7ef;
}
.quiz-top-result h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
  padding: 0.66em 1em;
  text-align: center;
}

.quiz-result h2 {
  color: #bec7ef;
  margin: 0.33em 0 0.66em;
  text-transform: uppercase;
}
.quiz-result .result {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.66em;
}
.quiz-result img {
  border-radius: 50%;
  flex-basis: 120px;
  flex-grow: 3;
}

.quiz-result .info {
  flex-basis: 180px;
  flex-grow: 5;
}

.controle .label {
  display: block;
  padding-top:92px;
  color:#000;
}
footer {
  text-align: center;
}
.quiz-result-parlamentar .score {
  text-align: right;
}
