body {
	font-family: Ubuntu;
}

.jumbotron {
	height: 680px;
	text-align:center;
	background-image: url('../img/background.png');
	color:#fff;
}

.jumbotron p {
	font-size: 16px;
	max-width: 800px;
	margin:0 auto;
	line-height: 1.2;
	margin-bottom: 10px;
}

.jumbotron h1 {
	border:15pt solid white;
	width:470px;
	height:135px;
	line-height: 85px;
	margin:0 auto;
	margin-top:100px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.jumbotron a {
	color:#F2CE47;
}

.jumbotron .seta {
	margin-top: 50px;
}

#main {

}

#snippet {
	margin-bottom: 50px;
}


.bignumber { 
	text-align: center;
	font-size: 165px;
	line-height: 0.7;
}

.ementa {
	background-color: #0E2D40;
	color:#FFF;
	padding:22px;
	font-size: 18px;
}


.controle {
	margin-top:2em;
	text-align: center;
}

.controle .btn {
	width:92px;
	height:92px;
	background-repeat: no-repeat;
}
.btn-concordo {
	background-image: url('../img/concordo.svg');
}

.btn-abstencao {
	background-image: url('../img/abstencao.svg');
}

.btn-discordo {
	background-image: url('../img/discordo.png');
}

.controle .label {
	padding-top:92px;
}
footer {
	text-align: center;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@media only screen and (max-device-width: 480px) {
	div#wrapper {
		width: 400px;
	}

	.notmobile {
		display:none;
	}		
}




#CandidatoForm {
	text-align: center;
}



.questao {
	display:none;
}

#q1 {
	display: block;
}



