{% extends 'base.html' %}
{% load static %}

{% block content %}
<script type="text/javascript">
  var propostas = {{ propdata|safe }};
  var parlamentares = {{ parldata|safe }};
</script>

<div class="quiz" ng-app="quizapp">

  <div class="quiz-intro row" ng-controller="introCtrl" ng-hide="quiz.started">
    <div class="col-xs-4">
      <img id="bigredbtn" src="{% static 'img/vote.svg' %}" ng-click="start()"/>
    </div>
    <div class="col-xs-8">
      A sessão vai começar! Aperte o botão para confirmar a sua presença!
    </div>
  </div><!-- /.quiz-intro -->

  {% verbatim %}
  <div class="quiz-ui" ng-controller="quizUICtrl" ng-show="quiz.started">

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="quiz.simbolica">
        Iniciar votação simbólica.
      </label>
    </div>

    <div class="quiz-question" ng-repeat="proposta in quiz.propostas" ng-show="$index === quiz.current">
      <div class="quiz-question-ementa well">
        {{ proposta.ementa }}
        <div class="quiz-question-link">
          <a href="{{proposta.url}}" target="_blank">{{proposta.nome}}</a>
        </div>
      </div>

      <div class="controle">
        <div class="btn btn-discordo" ng-click="quiz.vote($index, -1)"
          data-toggle="tooltip" data-placement="bottom" title="Discordo">
        </div>
        <div class="btn btn-abstencao" ng-click="quiz.vote($index, 0)"
          data-toggle="tooltip" data-placement="bottom" title="Abstenção">
        </div>
        <div class="btn btn-concordo" ng-click="quiz.vote($index, 1)"
          data-toggle="tooltip" data-placement="bottom" title="Concordo">
        </div>
      </div><!-- /.controle -->

    </div><!-- /.quiz-question -->
  </div><!-- /.quiz-ui -->
  {% endverbatim %}

  {% verbatim %}
  <div class="quiz-result" ng-controller="resultsCtrl" ng-show="sorted">

    <div class="quiz-top-result row">
      <h1>UAU! Você vota mais parecido com</h1>
      <div class="result">
        <img src="https://placekitten.com/200/200">
        <div class="info">
          <div class="nome">{{ sorted[0].nome }} &mdash; {{ sorted[0].partido }}</div>
          <div class="score">{{ sorted[0].score }} / {{ quiz.propostas.length }}</div>
        </div>
      </div><!-- /.result -->
    </div>

    <h2>Top 5 Vereadores</h2>
    <table>
      <tbody>
        <tr class="quiz-result-parlamentar" ng-repeat="parlamentar in sorted">
          <td class="partido">{{ parlamentar.partido }}</td>
          <td class="nome">{{ parlamentar.nome }}</td>
          <td class="score">{{ parlamentar.score }}/{{ quiz.propostas.length }}</td>
        </tr>
      </tbody>
    </table>
  </div><!-- /.quiz-result -->
  {% endverbatim %}
{% endblock content %}
