{% extends 'base.html' %}

    {% block content %}
     <!-- Example row of columns -->
      <div id="snippet" class="row notmobile">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
          <img src="/static/img/vote.svg" />
        </div>
        <div class="col-md-6">
          <p>Quem vota igual a você? Conheça e vote em Projetos de Lei (PL’s) que foram aprovados em plenária na Câmara Municipal de SP. Saiba quanto suas ideias sobre a cidade se aproximam das ideias dos candidatos a vereador nessas eleições. Basta se posicionar diante dos PL’s apresentados para saber qual candidato/vereador vota igual a você. Isso pode facilitar sua escolha na hora de votar!
Para conferir, clique no botão “resultado”.</p>
          </div>
      </div>

      {% for prop in props %}
       <div id="q{{forloop.counter}}" class="questao row">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
          <div class="bignumber notmobile">{{forloop.counter}}</div>
        </div>
        <div class="col-md-6">
          <div class="ementa"><p>{{prop.ementa}}</p></div>
          <div class="controle">
            <div class="btn btn-discordo" data-questao="{{forloop.counter}}" data-voto="N">
                <a class="label" href="#" role="button">Discordo</a>
            </div>
            <div class="btn btn-abstencao" data-questao="{{forloop.counter}}" data-voto="A">
                <a class="label" href="#" role="button" >Abstenção</a>
            </div>
            <div class="btn btn-concordo" data-questao="{{forloop.counter}}" data-voto="S">
                <a class="label" href="#" role="button">Concordo</a>
            </div>
        </div>
        </div>
      </div>
      {% endfor %}

      <hr>

      <footer>
          <p>Desenvolvido no 1o Hackathon de Eleições</p>
      </footer>
    
{% endblock content %}