{% extends 'base.html' %}
{% load static %}

{% block content %}
<script type="text/javascript">
  var url = 'http://documentacao.camara.sp.gov.br/cgi-bin/wxis.exe/iah/scripts/?IsisScript=iah.xis&lang=pt&format=detalhado.pft&base=proje&form=A&nextAction=search&indexSearch=^nTw^lTodos%20os%20campos&exprSearch=P=';
  var propostas = [
    {% for prop in props %}
    {
      nome: "{{ prop.sigla }} {{ prop.numero }}/{{ prop.ano }}",
      ementa: "{{ prop.ementa }}",
      uservote: null,
      url: url + "{{prop.sigla}}{{prop.numero}}{{prop.ano}}"
    },
    {% endfor %}
  ];
</script>

<div class="quiz" ng-app="quizapp">

  <div class="quiz-intro row" ng-controller="introCtrl" ng-hide="quiz.started">
    <div class="col-xs-4">
      <img src="{% static 'img/vote.svg' %}" ng-click="start()"/>
    </div>
    <div class="col-xs-8">
      A sessão vai começar! Aperte o botão para confirmar a sua presença!
    </div>
  </div><!-- /.quiz-intro -->

  {% verbatim %}
  <div class="quiz-ui" ng-controller="quizUICtrl" ng-show="quiz.started">

    <div class="quiz-question" ng-repeat="proposta in quiz.propostas" ng-show="$index === quiz.current">
      <div class="quiz-question-ementa well">
        {{ proposta.ementa }}
        <div class="quiz-question-link">
          <a href="{{proposta.url}}" target="_blank">{{proposta.nome}}</a>
        </div>
      </div>

      <div class="controle">
        <div class="btn btn-discordo" ng-click="quiz.vote($index, -1)"
          data-toggle="tooltip" data-placement="bottom" title="Discordo">
        </div>
        <div class="col-md-6">
          <div class="ementa"><p>{{prop.ementa}}</p>
          <p class="small">
          <a href="http://documentacao.camara.sp.gov.br/cgi-bin/wxis.exe/iah/scripts/?IsisScript=iah.xis&lang=pt&format=detalhado.pft&base=proje&form=A&nextAction=search&indexSearch=^nTw^lTodos%20os%20campos&exprSearch=P={{prop.sigla}}{{prop.numero}}{{prop.ano}}" target="_blank">
          {{prop.sigla}} {{prop.numero}}/{{prop.ano}}</a></p></div>
          <div class="controle">
            <div class="btn btn-discordo" data-questao="{{forloop.counter}}" data-voto="N">
                <span class="label" href="#" role="button">Discordo</a>
            </div>
            <div class="btn btn-abstencao" data-questao="{{forloop.counter}}" data-voto="A">
                <span class="label" href="#" role="button" >Abstenção</a>
            </div>
            <div class="btn btn-concordo" data-questao="{{forloop.counter}}" data-voto="S">
                <span class="label" href="#" role="button">Concordo</a>
            </div>
        </div>
        <div class="btn btn-concordo" ng-click="quiz.vote($index, 1)"
          data-toggle="tooltip" data-placement="bottom" title="Concordo">
        </div>
      </div><!-- /.controle -->

    </div>
  </div>
  {% endverbatim %}

</div><!-- /.quiz -->

{% endblock content %}
